<html>
    <head>
        <title>{{ title }} -  CSGOProTracker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styling.css') }}">
    </head>
    <body>
        <a href="{{ url_for('index')}}"  id="header"> <h1> CSGOProTracker</h1> </a>
        <div id="wrapper">
            <div id="match">
                <h1> How to watch a demo</h1>
                <p> 
                    <ol>
                        <li> Download the demo and place them in steam\steamapps\common\Counter-Strike Global Offensive\csgo</li>
                        <li> Ensure that you have console enabled</li> 
                        <li> Open console, using the "~" key, and type playdemo (demoname)</li>
                        <li> Shift + F2 will bring up the demoui</li>
                    </ol>
                </p>
            </div>
        </div>
    </body>
</html>